.App {
  padding: 50px 10px;
}

div.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div.search input[type='text'] {
  flex: 0 0 75%;
  padding: 10px 0 10px 20px;
  outline: none;
  border-radius: 6px 0 0 6px;
  border: none;
  color: #899591;
  font-size: 15px;
}

div.search input::placeholder {
  color: #899591;
  opacity: 0.5;
  font-size: 13px;
}

div.search button {
  border-radius: 0 6px 6px 0;
  background: #4dd2ff;
  color: #FFF;
  border: none;
  outline: none;
  padding: 5px 20px;
}

div.movies {
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.loader {
  width: 70px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  div.search {
    width: 70vw;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  div.books {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  div.books {
    width: 80%;
    margin: 50px auto;
  }
}
