@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #1e2126;
  padding: 0px;
  margin: 0px;
  margin-top: 80px;
}

.body-light {
  background-color: #fff;
}

.App {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: #000 0px -2px 8px 1px;
  background-color: inherit;
  z-index: 999;
}

.header-left,
.header-center,
.header-right {
  width: 10%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.header-left {
  color: #ffe401;
  font-weight: bold;
  font-size: 20px;
}

.header-right {
  width: 15%;
}

.header-center {
  width: 75%;
}

.form-control {
  width: 100%;
  height: 93%;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffe401;
  background: transparent;
  color: #ffe401;
  font-size: 19px;
  padding-left: 10px;
}

.form-control::placeholder {
  color: #ffe401;
  opacity: 0.5;
  font-size: 17px;
}

.search-btn {
  border-radius: 0 6px 6px 0;
  background: #ffe401;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 20px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #e7d10a;
}

.options {
  display: inline-flex;
  align-items: center;
  height: auto;
  padding: 0px 10%;
}

.switch-theme-btn {
  background-color: #e7d10a;
  border-radius: 25px;
  padding: 10px 10px;
  margin: 0px 10px;
  border: none;
  cursor: pointer;
  outline: none;
}
/* 
.options ul {
  display: inline-flex;
  list-style-type: none;
}

.options ul li {
  
} */

.server-selector {
  background-color: #e7d10a;
  border: none;
  color: #1e2126;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
}

.server-selector > option {
  background-color: #1e2126;
  color: #e7d10a;
  padding: 10px 15px;
}

div.movies {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.skeleton-movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.error {
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
}

.error-text {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.error-retry-btn {
  border: none;
  background-color: #e7d10a;
  color: #1e2126;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header-left {
    display: none;
  }

  .header-center {
    width: 80%;
  }

  .header-right {
    width: 20%;
  }
}
