div.movie {
  width: 100%;
  min-height: 30vh;
  flex: 0 0 100%;
  background: #fff;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 50px 0;
  display: flex;
}

div.movie-image {
  flex: 0 0 40%;
  background: #fff;
  height: inherit;
  margin: auto;
  /* box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  position: relative;
}

div.movie-image img {
  width: 100%;
  height: auto;
  margin: auto;
}

div.about {
  /* width: 45%; */
}

div.about p {
  margin: 2px;
}

p.name {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  opacity: 0.7;
}

p.by,
p.pub-by {
  font-size: 15px;
  font-weight: 600;
  color: #3d3d3d;
  opacity: 0.5;
}

div.about a {
  text-decoration: none;
  background: #4dd2ff;
  border-radius: 6px;
  padding: 10px 20px;
  position: absolute;
  outline: none;
  border: none;
  color: #fff;
  bottom: 10%;
}

@media (min-width: 600px) {
  div.movie {
    flex: 0 0 80%;
  }

  div.movie-image {
    width: 35%;
  }

  div.about {
    width: 55%;
  }
}

@media (min-width: 768px) {
  div.movie {
    height: 40vh;
    flex: 0 0 70%;
  }
}

@media (min-width: 992px) {
  div.movie {
    flex: 0 0 47%;
  }
}

@media (min-width: 1200px) {
  div.movie {
    flex: 0 0 47%;
  }
}
