div.movie {
  width: 220px;
  min-height: 30vh;
  background: transparent;
  position: relative;
  margin: 10px;
  display: block;
}

div.movie-image {
  height: 80%;
  width: 100%;
  margin: auto;
  justify-content: center;
  left: 0;
  position: relative;
}

div.movie-image img {
  box-shadow: 4px 4px 16px 2px #121315;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 3px;
  transition: .3s;
}

div.movie-image img:hover {
  transform: translateY(-3%);
}

.download-btn {
  position: absolute;
  top: 80%;
  right: 10%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  background: #e7d10a;
  border-radius: 50%;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 7px -2px #121315;
}

.download-btn:active {
  transform: translateY(3%);
}

div.about {
  width: 100%;
  padding-top: 10px;
  padding-left: 6px;
  height: 20%;
}

div.about p {
  margin: 2px;
  font-family: cursive;
}

p.name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

p.by,
p.pub-by {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  opacity: 0.5;
}

/* skeleton loader styles */

div.skeleton-movie {
  width: 220px;
  min-height: 30vh;
  background: transparent;
  position: relative;
  margin: 10px;
  display: block;
}

div.skeleton-movie-image {
  height: 310px;
  width: 100%;
  margin: auto;
  justify-content: center;
  left: 0;
  position: relative;
  background-color: #635c21;
  box-shadow: 4px 4px 16px 2px #1e2023;
  border-radius: 3px;
  transition: .3s;
  animation: blink 1s infinite;
  -webkit-animation-direction: alternate-reverse;
}

.skeleton-download-btn {
  position: absolute;
  top: 80%;
  right: 10%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  background: #6b6320;
  border-radius: 50%;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  box-shadow: 0px 0px 7px -2px #121315;
}

div.skeleton-about p {
  border-radius: 5px;
}

p.skeleton-name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  height: 28px;
  width: 200px;
  background-color: #635c21;
  margin: 0px;
  margin-top: 10px;
  transition: .3s;
  animation: blink 1s infinite;
  animation-delay: .3s;
  -webkit-animation-direction: alternate-reverse;
}

p.skeleton-by,
p.pub-by {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  opacity: 0.5;
  width: 150px;
  height: 20px;
  background-color: #635c21;
  margin: 0px;
  margin-top: 10px;
  transition: .3s;
  animation: blink 1s infinite;
  animation-delay: .5s;
  -webkit-animation-direction: alternate-reverse;
}


@keyframes blink {
  to {
    opacity: .5;
  }
}
