.carousel-container {
    margin-top: initial !important;
}

.trending-title {
    margin: initial !important;
}

.nav-bar__main--has-search {
    visibility: hidden !important;
}

.nav-bar__action-buttons button:first-child {
    visibility: hidden !important;
}