.movie-shared-detail .carousel-container {
    margin-top: initial !important;
}

.movie-shared-detail .gophie-modal__body--header {
    font-size: 1.2em;
    font-weight: 600;
}


.movie-shared-detail .gophie-modal__body--description {
    font-size: 1em;
    line-height: 1.5;
}

.trending-title {
    margin: initial !important;
}

.movie-shared-detail .nav-bar__main--has-search {
    visibility: hidden !important;
}

.movie-shared-detail .nav-bar__action-buttons button:first-child {
    visibility: hidden !important;
}

.movie-shared-detail .error-text {
    position: initial !important;
}

.movie-shared-detail .site-footer {
    margin-top: 10em !important;
}

.movie-shared-detail .btn-info {
    background-color: #e7d10a !important;
    color: #202534 !important;
    border-color: #e7d10a !important;
    text-transform: capitalize;
}

.movie-shared-detail .btn-info:hover {
    background-color: #cab709 !important;
    border-color: #cab709 !important;
}

.movie-shared-detail .trending-loader-container {
    margin-top: 4em;
}
